
DSP_PORT=4080
ADVERTISER_PORT=4081
SSP_PORT=4082
PUBLISHER_PORT=4083

VITE_DSP_URL=https://localhost:4080/dsp
VITE_ADVERTISER_URL=https://localhost:4081/advertiser
VITE_SSP_URL=https://localhost:4082/ssp
VITE_PUBLISHER_URL=https://localhost:4083/publisher
